# top-most EditorConfig file
root = true

# Standard settings for all files
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# F# specific rules (fs, fsi, fsx)
[*.{fs,fsi,fsx}]
indent_style = space
indent_size = 4
# Increase the width specifically for arrays and lists
fsharp_max_array_or_list_width = 500
fsharp_max_line_length = 500
fsharp_max_array_or_list_number_of_items = 20

# Optional: Use "cramped" style to keep brackets closer to content
fsharp_multiline_bracket_style = stroustrup
